#box {
    border:1px solid #000;
    background-color:red;
    position: fixed;
}

.control-element {
    background-color: #000;
    position: fixed;
}

#top-left {
    cursor: nw-resize;
}

#top {
    cursor:n-resize;
}

#top-right {
    cursor:ne-resize;
}

#left {
    cursor:w-resize;
}

#right {
    cursor:e-resize;
}

#bottom-left {
    cursor:sw-resize;
}

#bottom {
    cursor:s-resize;
}

#bottom-right {
    cursor: se-resize;
}

.status {
    position:fixed;
    right: 5px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    z-index: 999;
    font-size:8px;
}